.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
.nav {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  color: var(--blanco);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-list {
  text-align: center;

  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
  box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.3) inset;
}

.nav .botones-a:hover {
  background: rgba(54, 175, 189, 0.4);
  color: var(--blanco);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.complemento-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.enlace-nav {
  font-size: 15px;
}

.imagen-fondo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../img/imagenF1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
}
.imagen-fondo::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.seccion-sobre-mi {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-sobre-mi {
  text-align: justify;
  z-index: 3;
  width: 80%;
  padding: 10px;
  color: var(--blanco);
  letter-spacing: 1.2px;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  .texto-sobre-mi {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

.encabezado {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.encabezado h1 {
  width: 50%;
  text-align: center;
}
.encabezado img {
  min-width: 120px;
}

.invitacion {
  margin: 50px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .encabezado h1 {
    width: 100%;
  }
}

.container {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.animated-image {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  right: -100%;
  animation: slideIn 3s forwards;
  -webkit-animation: slideIn 3s forwards;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@keyframes slideIn {
  to {
    right: 0;
  }
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 765px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 40px #00ffff;
    z-index: 10;
  }

  .btn-menu:active {
    scale: 0.92;
  }

  .btn-menu:hover {
    background: rgb(2, 51, 59);
    background: linear-gradient(
      270deg,
      rgba(2, 29, 78, 0.681) 0%,
      rgba(31, 215, 232, 0.873) 60%
    );
    color: rgb(4, 4, 38);
  }

  .nav {
    display: none;
  }

  .nav-visible {
    display: block;
    flex-direction: column;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .nav-list {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px -1px 11px 8px rgba(0, 255, 255, 0.3) inset;
  }
}

@media screen and (max-width: 480px) {
  .nav-visible {
    position: relative;
  }
}

.ocultar {
  display: none;
}
