/* En este archivo escriban su CSS */
:root {
  --primario: #05a2b1;
  --blanco: #ffffff;
  --negro: #000000;
  --cursor: rgba(5, 162, 177, 0.6);
}

/* Fonts */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* Reset */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
  padding: 3px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--negro);
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
  max-width: 100%;
  margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* Seccion Principal*/
main {
  z-index: 5;
}
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video-container {
    height: 100%;
  }
  .video {
    object-fit: fill;
  }
}
@media (max-width: 480px) {
  .video-container {
    width: 100%;
    height: 100%;
  }
  .video {
    min-height: 100vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(00, 00, 00, 0.6);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.seccion {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ocultar {
  display: none;
}

@media (max-width: 768px) {
  .seccion {
    top: 300px;
  }
}
@media (max-width: 480px) {
  .seccion {
    flex-direction: column;
  }
}

.imagen-perfil {
  display: block;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}

.border {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0px 0px 5px 3px rgba(54, 175, 189, 0.9);
}
@media (max-width: 480px) {
  .imagen-div {
    width: 200px;
  }
}

.texto-principal {
  text-align: center;
  width: 40%;
  padding: 30px;
  color: var(--blanco);
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.texto-principal h1 {
  margin: 5px;
}

.center {
  text-align: center;
}

/* .boton {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--primario);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.8) inset;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.boton:hover {
  font-weight: 700;
  border: 1px solid var(--negro);
} */

.boton {
  --cian: #00ffff;
  font-size: 18px;
  padding: 0.8em 3em;
  margin-top: 20px;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--cian);
  background: linear-gradient(
    to right,
    rgba(0, 126, 218, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(0, 126, 218, 0.1) 100%
  );
  color: var(--cian);
  box-shadow: inset 0 0 10px rgba(0, 126, 218, 0.4),
    0 0 9px 3px rgba(0, 126, 218, 0.1);
}

.boton:hover {
  color: #ffff00;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(0, 126, 218, 0.6),
    0 0 9px 3px rgba(0, 126, 218, 0.2);
  cursor: pointer;
  text-shadow: 3px 3px 5px rgba(0, 255, 255, 1);
}

.boton:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(0, 126, 218, 0.1) 40%,
    rgba(0, 126, 218, 0.1) 60%,
    transparent 100%
  );
}

.boton:hover:before {
  transform: translateX(15em);
}

.svg-frame {
  position: relative;
  width: 180px;
  height: 180px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}
.btn {
  margin: 0 20px;
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #000000;
  border: 0.08em solid #ff0;
  border-radius: 0.3em;
  font-size: 12px;
}

.btn span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #000000;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #0ff;
  box-shadow: 0 0.4em 0.1em 0.019em #0ff;
}

.btn span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #0ff;
  cursor: pointer;
}

.btn span:not(hover) {
  transition: all 1s;
}

.contenido-principal {
  width: 100%;
  margin-top: 5rem;
}

.hero-img {
  position: relative;
  top: 0;
  left: 0;
  background: url("../img/imagenF1.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 768px) {
  .texto-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 5px;
  }
  .texto-principal p {
    margin: 5px;
  }

  .imagen-div {
    padding: 10px;
  }
}

.hablemos {
  background-color: rgb(6, 16, 17, 0.6);
  width: 100%;
  border-radius: 20px;
}
.hablemos h2 {
  margin-bottom: 40px;
}

.boton-enlace {
  margin: 0 auto;
  margin-bottom: 3px;
  background: var(--blanco);
  box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.8) inset;
  border-radius: 15%;
  padding: 3px;
  display: block;
  width: 40px;
  height: auto;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.boton-enlace:hover {
  opacity: 0.8;
  border: 1px solid var(--primario);
}
@media (max-width: 480px) {
  .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.complemento {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-card {
  display: block;
  width: 70px;
  margin: 0 auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: rgba(0, 255, 255, 0.9);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  font-size: 0.8rem;
  color: rgb(134, 134, 134);
  text-align: center;
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #00ffff;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
@media (max-width: 600px) {
  .complemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  text-align: center;
  color: var(--blanco);
  background: rgb(6, 16, 17);
  background: linear-gradient(
    0deg,
    rgba(6, 16, 17, 1) 86%,
    rgba(6, 98, 107, 1) 100%
  );
  padding: 10px;
}
.iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link-redes {
  display: block;
  text-align: center;
  cursor: pointer;
}
.redes {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
}
@media (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/*prueba de cursor*/

.comet {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--negro);
  opacity: 0.5;
  transform-origin: center;
  animation: cometTrail 1s infinite;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 5px 5px 20px 10px var(--cursor);
}

@keyframes cometTrail {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.trail:nth-child(1) {
  animation-delay: 0s;
}

.trail:nth-child(2) {
  animation-delay: 0.2s;
}

.trail:nth-child(3) {
  animation-delay: 0.4s;
}

nav .botones-a {
  margin-right: 20px;
}
.nav-list li {
  margin-bottom: 20px;
}
